<p class='first-element-help'>Version 2 - Get Port for microservice from name + tag (multiple instances on same PC)
<button  mat-mini-fab
(click)="onHelp()"
>
<mat-icon>help</mat-icon>
</button>
</p>
<form class="example-form" >
  <mat-form-field class="example-full-width formAppName-help" appearance="fill">
    <mat-label>Please enter your microservice name</mat-label>
    <input
      [(ngModel)]="appName"
      name="appName"
      matInput
      placeholder="Please enter your microservice name"
      value=""
    />
    
  </mat-form-field>
  <mat-form-field class="example-full-width formTag-help" appearance="fill">
    <mat-label>Please enter your tag name</mat-label>
    <input
      [(ngModel)]="tag"
      name="tag"
      matInput
      placeholder="Please enter your microservice tag"
      value=""
    />
    
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>PC Name</mat-label>
    <input
      [(ngModel)]="pcName"
      name="pcName"
      matInput
      placeholder="Please enter your PC name or localhost"

    />
    
  </mat-form-field>

  <button class="generatePort-help"
    [disabled]="appName?.length == 0 ? 'disabled' : 'false'"
    mat-raised-button
    color="primary"
    (click)="onDeterministic()"
  >
    Static, Deterministic
  </button>

</form>

{{ fullName}}

<a mat-list-item routerLink="/static/services">
  Registered Services
  </a>
  