<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>      
      <a mat-list-item routerLink="/">Menu</a>
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/static/mpcv1">V1</a>
      <mat-divider></mat-divider>
      <a mat-list-item href="/swagger" target="_blank">Swagger</a>
      <a mat-list-item href="/ams" target="_blank">Version</a>
      <a mat-list-item href="https://microservicesportchooser.azurewebsites.net/" target="_blank">Online</a>
      <a mat-list-item href="https://github.com/ignatandrei/MicroservicesPortChooser/" target="_blank">Github</a>
      <mat-divider></mat-divider>
      <a mat-list-item href="https://www.nuget.org/packages/MicroservicesPortChooser/" target="_blank">Use in .NET Core</a>
      <a mat-list-item href="https://github.com/ignatandrei/MicroservicesPortChooser#express" target="_blank">Use in Express.js</a>
      <mat-divider></mat-divider>
      <a mat-list-item href="https://github.com/ignatandrei/MicroservicesPortChooser/releases/latest/download/releaseLin.zip/" target="_blank">Download Linux</a>      
      <a mat-list-item href="https://github.com/ignatandrei/MicroservicesPortChooser/releases/latest/download/releaseWin.zip/" target="_blank">Download Windows</a> 
      <mat-divider></mat-divider>
      <a mat-list-item href="https://en.wikipedia.org/wiki/List_of_TCP_and_UDP_port_numbers" target="_blank">Wikipedia list</a>
      <a mat-list-item href="https://web.mit.edu/rhel-doc/4/RH-DOCS/rhel-sg-en-4/ch-ports.html" target="_blank">RHEL list</a>
      <a mat-list-item href="https://www.iana.org/assignments/service-names-port-numbers/service-names-port-numbers.xhtml" target="_blank">IANA list</a>
    </mat-nav-list>

  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Micro Port Chooser </span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
