<p>Version 1 - Get Port from name</p>

<form class="example-form">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Please enter your microservice name</mat-label>
    <input
      [(ngModel)]="appName"
      name="appName"
      matInput
      placeholder="Please enter your microservice name"
      value=""
    />
  </mat-form-field>

  <button
    [disabled]="appName?.length == 0 ? 'disabled' : 'false'"
    mat-raised-button
    color="primary"
    (click)="onDeterministic()"
  >
    Static, Deterministic
  </button>

  &nbsp;&nbsp;&nbsp;
  <button
    [disabled]="appName?.length == 0 ? 'disabled' : 'false'"
    mat-raised-button
    color="warn"
    (click)="onNonDeterministic()"
  >
    Random Scoped,Non-deterministic
  </button>
</form>
