<p class='first-element-help'>Version 1 - Get Port for microservice from name</p>

<form class="example-form">
  <mat-form-field class="example-full-width formAppName-help" appearance="fill" name="">
    <mat-label>Please enter your microservice name</mat-label>
    <input
      [(ngModel)]="appName"
      name="appName"
      matInput
      placeholder="Please enter your microservice name"
      value=""
    />
    
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>PC Name</mat-label>
    <input
      [(ngModel)]="pcName"
      name="pcName"
      matInput
      placeholder="Please enter your PC name or localhost"

    />
    
  </mat-form-field>

  <button class="generatePort-help"
    [disabled]="appName?.length == 0 ? 'disabled' : 'false'"
    mat-raised-button
    color="primary"
    (click)="onDeterministic()"
  >
    Static, Deterministic
  </button>

  &nbsp;&nbsp;&nbsp;
  <button 
    [disabled]="appName?.length == 0 ? 'disabled' : 'false'"
    mat-raised-button
    color="warn"
    (click)="onNonDeterministic()"
  >
    Random Scoped,Non-deterministic
  </button>
</form>

{{ fullName}}