<p class="first-element-help">
  <button
    mat-raised-button
    class="download-help"
    color="primary"
    (click)="exportToCSV()"
    *ngIf="data.length > 0"
    matBadge="{{ data.length }}"
    matBadgePosition="below"
    matBadgeColor="accent"
  >
    Download
  </button>
  services
  <button mat-mini-fab (click)="onHelp()">
    <mat-icon>help</mat-icon>
  </button>
</p>

<app-display-register [data]="data"></app-display-register>



<br />
<button mat-raised-button color="primary" (click)="loadFromDatabase()">
  LoadFromDatabase
</button>

