<p>Number services registered: {{data.length}}</p>

<table matSort border="1" (matSortChange)="sortData($event)">
    <thead>
        <tr>
            <th>Number</th>
            <th mat-sort-header="uniqueID" > Name </th>
            <th mat-sort-header="dateRegistered" > Date registered </th>
            <th mat-sort-header="tag" > Tag</th>
            <th> Details </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of data; let i = index">
            <td > {{i+1}} </td>
            <td> 
                <a href="http://{{item.hostName}}:{{item.port}}/" target="_blank">{{item.name}}:{{item.port}}</a>
                </td>
                <td> 
                    Local: {{item.dateRegistered | date:'long'}}
                    <br/>
                    UTC:{{item.dateRegistered.toLocaleString()}}
                </td>   

                
                <td > {{item.tag}} </td>
                <td > {{item | json }} </td>
        </tr>
    </tbody>
</table>
