
<div *ngIf="!showTabulator">
    <mat-form-field appearance="standard">
      <mat-label>Filter {{ dataFiltered.length }} </mat-label>
      <input matInput (keyup)="applyFilter($event)" />
    </mat-form-field>
  
    <table
      matSort
      border="1"
      (matSortChange)="sortData($event)"
      class="listMSPC-help"
    >
      <thead>
        <tr>
          <th>Number</th>
          <th mat-sort-header="name">Name</th>
          <th mat-sort-header="dateRegistered">Date registered</th>
          <th mat-sort-header="tag">Tag</th>
          <th >History</th>
          <th>Details</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of dataFiltered; let i = index">
          <td>
            {{ i + 1 }}
            <button
              mat-raised-button
              color="warn"
              (click)="deleteFromDatabase(item)"
            >
              Delete
            </button>
          </td>
          <td>
            <a
              href="http://{{ item.hostName }}:{{ item.port }}/"
              target="_blank"
              >{{ item.name }}</a
            >
            <br />
            Port: {{ item.port }} Host: {{ item.hostName }}
          </td>
          <td>
            <b>Local</b>: {{ item.dateRegistered | date: "long" }}
            <br />
            <i>UTC</i>:{{ item.dateRegistered.toLocaleString() }}
          </td>
  
          <td>{{ item.tag }}</td>
          <td>History</td>
          <td>{{ item.Details }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div id="my-tabular-table" [hidden]="!showTabulator"></div>
  <br />
<br />
<mat-slide-toggle class="example-margin" [(ngModel)]="showTabulator">
  Show Tabulator
</mat-slide-toggle>
